
/*MEDIA QUERIES*/


/* Hide the small screen hamburger icon*/
.topnav .icon, .topnav img{
  display: none;
}



/*For explorePortfolio arrows*/
@media (max-width: 900px){
  .explorePortfolio{
    display: none;
  }
}


@media (min-width: 720px){

  /*Increases margin for contact page to give it a "text message" feel even at larger screens*/
  .maintext.contact{
    max-width: 600px;
  }
}

/*=============================720px===============================*/
/*Consolidates columns, removes images to increase space for text*/
@media (max-width: 720px){

/*When screen gets too thin, multiple columns get consolidated into one column*/
  .mobilecolumn{
    width: 100%;
    border-style: none;
    padding-left: 0;
    padding-right: 0;
  }

.mobilecolumn p{
  padding-left:0;
}

  .sidebar p {
    font-size: 1em;
  }

  .logo img{
    width: 45%;
  }

  /*When screen gets too thin, images get deleted to allow max text*/
  .fifteencolumn img{
   display: none;
  }

  .aboutme img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .aboutme h1, .aboutme h2{
    text-align: center;
  }

  .topnav a{
    font-size: 0.9em;
    padding:0.5em 1em;
  }

  .topnav{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .skillstablecontainer{
    display: block;
  }

  .projectsindividual {
    width: 100%;
  }

.projectsindividual h2{
  text-align: center;
}

.projectsindividual img{
  max-height: 200px;
}


  .gallery img{
    padding: 0.5em;
    height: 150px;
  }

  .artprev,
  .artnext {
    display: none;
  }

  .artmodal-content {
    margin: 4em 10%;
  }

  .contact-left h2{
    font-family: Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 0.5;
    color: #444;
    margin: 0;
    text-align: left;
  }

  .contact-right h2{
    font-family: Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 0.5;
    color: #444;
    margin: 0;
    text-align: right;
  }

  button {
    padding: 1em 2em;
  }

.linkbutton{
  padding: 1em 2em;
}

  #scrollButton {
    right: calc(50vw - 1.5em); /*centers*/
    background-color: #891240; /* Set a background color */
    color: #F0ECE2;
  }


}/*end of 720px*/



/*============================500px==========================*/
/*For when screen gets too small. 500px = When top nav bar becomes a hamburger */


@media (min-width: 500px){
  .explorePortfolioMobile{
    display: none;
  }
}


@media (max-width: 500px){

  .maintext {
    padding: 10%;
  }

  .explorePortfolioMobile{
    display: block;
  }


  .artcolumn img{
    height: auto;
    padding-left: 0;
    padding-right: 0;
    width:100%;
  }

  .arthover-shadow:hover {
    filter: none;
    pointer-events: none;
  }

/*clears the 300px height requirement*/
  .projectscolumn{
    height: auto;
    vertical-align: middle;
    background-color: #F0ECE2;
    padding:3.5%;
  }

  .projectscolumn img, .projectscolumn iframe{
    display: none;
  }


  .logo h2 {
    font-size: 0.75em;
  }

  .logo img{
    width: 60%;
  }

  .fifteencolumn img{
    display: none;
  }

  .aboutme img{
    width: 75%;
  }

  .artnumbertext {
    display: none;
  }


  .triangle-isosceles-left{
    width: 75%;
  }

  .triangle-isosceles-right{
    width: 75%;
  }


/*increases usable space of accordion if screen is small*/
  .accordion {
    padding: 1em 1em;
  }

  .accordionpanel{
    padding: 0.5em 1em;
  }





/*sidenav*/


  .logo{
    padding: 0 1em;
     text-align: center;
  }

  .logo img{
  height: 3em;
  width: auto;
  display: inline;
  vertical-align: top;
  }

  .logo a{
    display: inline;
  }



  .icon{
    display:block;
    text-decoration: none;
    color: #FFF;
    position: absolute;
    top: 1.5em;
  }

  /*This combination centers the fontawesome icon*/
  .icon i{
  display: flex;
     height: 100%;
     justify-content: center;
     align-items: center;
     text-decoration: none;
     z-index: 999;
     padding-left: 1em;
     padding-right: 1em;
   }

.icon:hover{
  text-decoration: none;
}

#contentHeight{
  transition: 0.4s;
}

  /*HAMBURGER*/
    /* When the screen is less than 500 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

  .topnav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #F0ECE2;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.4s; /* 0.5 second transition effect to slide in the sidenav */
  padding: 0;
  }


  .topnav a {
    display: block;
    text-align: left;
    padding: 1em 2em;
    white-space: nowrap;
    font-size: 1em;
  }

  .topnav .circle{
    display: inline-block;
    width: 100%;
    position: relative;
  }

  .topnav .closebtn {
    display: inline-block;
    position: relative;
    float: right;
    text-align: center;
   height: 2em; /*calculated from .topnav a padding*/
  }


  .topnav .closebtn i{
  display: flex;
     height: 100%;
     justify-content: center;
     align-items: center;
   }



} /*end of 500px*/


/*720 px media query and a touch screen*/
@media (max-width: 720px) and (pointer: coarse){

  .artprev:hover,
  .artnext:hover {
    pointer-events: none;
  }
}
