
/*MEDIA QUERIES*/


/* Hide the small screen hamburger icon*/
.topnav .icon, .topnav img{
  display: none;
}



/*For explorePortfolio arrows*/
@media (max-width: 900px){
  .explorePortfolio{
    display: none;
  }
}


@media (min-width: 720px){

  /*Increases margin for contact page to give it a "text message" feel even at larger screens*/
  .maintext.contact{
    margin: 5% 20%;
  }
}

/*=============================720px===============================*/
/*Consolidates columns, removes images to increase space for text*/
@media (max-width: 720px){

/*When screen gets too thin, multiple columns get consolidated into one column*/
  .mobilecolumn{
    width: 100%;
    border-style: none;
    padding-left: 0;
    padding-right: 0;
  }

.mobilecolumn p{
  padding-left:0;
}

  .sidebar p {
    font-size: 1em;
  }

  .logo img{
    width: 45%;
  }

  /*When screen gets too thin, images get deleted to allow max text*/
  .fifteencolumn img{
   display: none;
  }

  .aboutme img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .aboutme h1, .aboutme h2{
    text-align: center;
  }

  .topnav a{
    font-size: 0.9em;
    padding:0.5em 1em;
  }

  .topnav{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .skillstablecontainer{
    display: block;
  }

  .projectsindividual {
    width: 100%;
  }


  .gallery img{
    padding: 0.5em;
    height: 150px;
  }

  .artprev,
  .artnext {
    display: none;
  }

  .artmodal-content {
    margin: 4em 10%;
  }

  .contact-left h2{
    font-family: Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 0.5;
    color: #444;
    margin: 0;
    text-align: left;
  }

  .contact-right h2{
    font-family: Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 0.5;
    color: #444;
    margin: 0;
    text-align: right;
  }

  button {
    padding: 1em 2em;
  }

.linkbutton{
  padding: 1em 2em;
}

  #scrollButton {
    right: calc(50vw - 1.5em); /*centers*/
    background-color: #891240; /* Set a background color */
    color: #F0ECE2;
  }


}/*end of 720px*/



/*============================500px==========================*/
/*For when screen gets too small. 500px = When top nav bar becomes a hamburger */


@media (min-width: 500px){
  .explorePortfolioMobile{
    display: none;
  }
}


@media (max-width: 500px){

  .artcolumn img{
    height: auto;
    padding-left: 0;
    padding-right: 0;
    width:100%;
  }

  .arthover-shadow:hover {
    filter: none;
    pointer-events: none;
  }

/*clears the 300px height requirement*/
  .projectscolumn{
    height: auto;
    vertical-align: middle;
    background-color: #F0ECE2;
    padding:3.5%;
  }

  .projectscolumn img, .projectscolumn iframe{
    display: none;
  }


  .logo h2 {
    font-size: 0.75em;
  }

  .logo img{
    width: 60%;
  }

  .fifteencolumn img{
    display: none;
  }

  .aboutme img{
    width: 75%;
  }




  .artnumbertext {
    display: none;
  }


  .triangle-isosceles-left{
    width: 75%;
  }

  .triangle-isosceles-right{
    width: 75%;
  }


/*increases usable space of accordion if screen is small*/
  .accordion {
    padding: 1em 1em;
  }

  .accordionpanel{
    padding: 0.5em 1em;
  }


/*HAMBURGER*/
  /* When the screen is less than 500 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
    .topnav div {
      float: left;
    }

    .topnav a {
      display: none;
    }

    .topnav a.icon{
      float: right;
      display: block;
      font-size: 1em;
      z-index: 999;
    }

    .topnav a.active {
      display: block;
    }


  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
    .topnav.responsive {
      position: relative;
    }
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0.5em;
    }

    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    .topnav.responsive div {
      float: left;
      width: 100%;
    }


} /*end of 500px*/


/*720 px media query and a touch screen*/
@media (max-width: 720px) and (pointer: coarse){

  .artprev:hover,
  .artnext:hover {
    pointer-events: none;
  }
}
