/*
1. General
2. Layout
3. Responsive Media
4. Header
5. Footer
6. Navigation
LAST. Media Queries
8. Index
9. Resume
10. Projects
11. Art

*/


/*=========================== 1. GENERAL ============================*/

body
{
  font-family: Verdana, sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  color: #44495D;
  margin: 0;
  letter-spacing: 0.05em;
}


a
{
  font-size: 1em;
  color: #44495D;
  text-decoration: none;
  letter-spacing: 0.05em;
  padding: 2em;
}


a:hover
{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  transition: all .4s ease;
  -webkit-transition: all .4s ease; /*safari and chrome*/
}

p{
  letter-spacing: 0.05em;
  font-size: 1em;
  font-weight: normal;
  overflow: auto;
  overflow-wrap: break-word;
}

button {
  display: inline-block;
  background-color: #B5DFD4;
  cursor: pointer;
  padding: 1.5em 2em;
  text-align: center;
  border: none;
  border-radius: 2em;
  outline: none;
  transition: 0.4s;
  font-size: 1em;
  font-weight: normal;
  color: #44495D;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

button:hover{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  transition: all .4s ease;
  -webkit-transition: all .4s ease; /*safari and chrome*/
}

hr {
  height: 1px;
  background-color: #44495D;
  border: none;
}

.maintext
{
  background-color: #fff;
  margin: 0;
  padding: 5% 10%;
  min-height: 200px;
}

.centertext{
  text-align: center;
}

.inlineblock{
  display: inline-block;
}




@media (min-width: 720px)
{
  .maintext.contact
  {
    padding: 5% 20%;
  }
}

/*============================= 2. LAYOUT =============================*/

.row:after
{
    content: "";
    display: table;
    clear: both;
}

.thirtythreecolumn{
  float: left;
  width: 33.33%;
  overflow-wrap: break-word;
}

.thirtythreecolumn img{
  width: 100%;
}



.fiftycolumn
{
  float: left;
  width: 50%;
  overflow-wrap: break-word;
}

.fiftycolumn img{
  width: 100%;
  float: left;
}

.twentyfivecolumn
{
  float: left;
  width: 25%;
  overflow-wrap: break-word;
}

.twentyfivecolumn img{
  width: 60%;
  margin: 1em;
  float: left;
}

/*used for sidebar formatted pages*/
.thirtycolumn{
  float: left;
  width: 30%;
  overflow-wrap: break-word;
}

/*used for sidebar formatted pages*/
.sixtyfivecolumn{
  float: left;
  width: 65%;
  overflow-wrap: break-word;
}

/*used for sidebar formatted pages*/
.sixtyfivecolumn img{
  width: 90%;
}

.seventyfivecolumn{
  float: left;
  width: 75%;
  overflow-wrap: break-word;
}


.seventyfivecolumn p {
  float: left;
  padding-left: 2em;
}



/*========================= 4. HEADER =============================*/

header
{
  background: #B5DFD4;
  margin: 0;
  padding: 1em;
}


.logo h2
{
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  margin-top: 0;
  line-height: 0;
  padding: 0;
}

.logo img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}



/*===================== 5. FOOTER =============================*/

footer
{
  background: #B5DFD4;
  margin: 0;
  padding: 1em;
  text-align: center;
}

.credits p
{
  font-size: 0.75em;
}


/*===================== 6. NAVIGATION ======================== */


nav
{
  display: block;
}

.topnav
{
  list-style-type: none;
  background-color: #FEFDCE;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  overflow: hidden;
  width: 100%;

}

.topnav a
{
  font-size: 1em;
  font-weight: normal;
  color: #44495D;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 2em;
}

.topnav a.active
{
  font-weight: bold;
}

/*
.dropdown:hover a
{
color: #B5DFD4;
transition: all .4s ease;
-webkit-transition: all .4s ease; /*safari and chrome
}
*/

@media (min-width: 500px) /*start of circle*/
{

  .topnav {
    justify-content: center; /*centers the navigations if not in mobile form*/
    display: flex;
  }

  .circle {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }


  .circle svg {
    position: absolute;
    top: -0.25em;
    left: 0;
    width: 100%;
    height: 130%;
    pointer-events: none;
  }

  .circle path {
    stroke: #44495D;
    stroke-width: 12px;
    stroke-dasharray: 0 1500;
  }

  .circle:hover path {
    animation: draw 1s forwards;
  }

  @keyframes draw {
    from {
      stroke-dasharray: 0 1500;
    }

    to {
      stroke-dasharray: 1500 1500;
    }
  }
  } /*end of Circle*/

  @media (max-width: 500px)
  {
    .circle {
      position: relative;
      display: inline-block;
      cursor: pointer;
    }


    .circle svg {
      position: absolute;
      top: -0.25em;
      left: 0;
      width: 100%;
      height: 130%;
      pointer-events: none;
    }

  }


  /*=====================8. INDEX===============================*/

  .index
  {
    width: 100%;
    display: inline-block;
    text-align: center;
    position: relative;

  }


/*
  .hoverrotate img
  {
    z-index: 3;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width: 25%;
    filter: invert(27%) sepia(24%) saturate(445%) hue-rotate(190deg) brightness(95%) contrast(92%);
  }
  */

  .hoverrotate img
  {
    margin-left:auto;
    margin-right:auto;
    width: 75%;
    filter: invert(27%) sepia(24%) saturate(445%) hue-rotate(190deg) brightness(95%) contrast(92%);
  }

  .hoverfloat img:hover{
    transform: translateY(-1em);
    transition: 1s ease;
  }


  .index h1
  {
  font-size: 1.5rem;
  font-weight: normal;
  }

  .index p{
    text-align: left;
  }


  .hoverrotate img:hover
  {
    transform: rotateZ(360deg);
    transition: 3s ease;
  }

  .hide
  {
    opacity: 0;
  }

  /*.hide h1
  {
  text-align: left;
  padding-top: 3em;
  margin-left: 5%;
  }*/

  .hide h1{
    padding-top: 1em;
    margin: 0;
  }



  .hoverrotate img:hover + .hide, .hoverfloat img:hover + .hide
  {
    transition: 2s;
    opacity: 1;
  }


  /*=====================9. RESUME================================*/

  .resume iframe
  {
    width: 70%;
    height: 500px;
    border-style: solid;
    border-color: #44495D;
    border-width: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
  }




  /* Style the buttons that are used to open and close the accordion panel */
  .accordion {
    background-color: #B5DFD4;
    cursor: pointer;
    padding: 1.5em 2em;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 0;
    outline: none;
    transition: 0.4s;
    font-size: 1em;
    font-weight: normal;
    color: #44495D;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 0;
  }


  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .accordionactive, .accordion:hover {
    background-color: #e4e4e4;
    text-decoration: none;
    text-decoration-thickness: 0;
    text-underline-offset: 0;
  }

  /* Style the accordion panel. Note: hidden by default */
  .accordionpanel {
  padding: 0.5em 2em;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  }

/*
  .accordionpanel.education img{
    width: 15%;
    margin: 1em;
    float: left;
  }

  .accordionpanel.education p {
    float: left;
    padding-left: 2em;
  }
  */

  .accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 0.8em;
  color: #44495D;
  float: right;
  margin-left: 0.4em;
  overflow: visible;
}

.accordionactive:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/*====================11. PROJECTS=====================================*/


/*
.projectscolumn{
  display: inline-block;
  background-color: #B5DFD4;
  height: 300px;
  text-align: center;
  padding: 1em;
  width: 25%;
  vertical-align: top;

  margin-bottom: 3.5%;
}

.projectscolumn h1{
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1em;
  font-weight: normal;
  padding: 1em;

}

.projectscolumn img{
  width:90%;
  height: 200px;
  background-color: white;
  object-fit: scale-down;
  padding: 5%;
}

.projectscolumn iframe{
  width:90%;
  height: 200px;
  background-color: white;
  object-fit: scale-down;
  padding: 5%;
}
*/

.projectsrow:after {
  content: "";
  display: table;
  clear: both;
}

.projectsrow a{
  padding:0;
  margin:0;
}

/* Create four equal columns that floats next to eachother */
.projectscolumn {
display: inline-block;
vertical-align: top;
  height: 300px;
  width: 25%;
  margin-bottom: 2%;
  background-color: #B5DFD4;
  margin-left: 1%;
  margin-right: 1%;
  padding: 2.5%;
}

.projectscolumn:hover{
  opacity: 0.5;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}



.projectscolumn img, .projectscolumn iframe{
  width: 100%;
  height: 200px;
  background-color: white;
  object-fit: scale-down;
}


.projectscolumn h1{
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1em;
  font-weight: normal;
  padding: 1em;
  overflow: auto;
  overflow-wrap: break-word;
}



@media (max-width: 900px){

/*this width keeps it centered for some reason*/
.projectscolumn{
  width: 90%;
  height: auto;
}
}

/*==========PROJECTS - INDIVIDUAL PROJECT PAGES======================*/



.projectsindividual h1{
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 2rem;
  overflow-wrap: break-word;
}

.projectsindividual h2{
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 0.05em;
  font-size: 1rem;
  font-weight: bold;
  padding-right: 2rem;
  overflow-wrap: break-word;
}

.projectsindividual p {
  padding-right: 2rem;
}


.sidebar {
  border-left-style: solid;
  border-width: 1px;
}
.sidebar h2 {
padding-left: 2rem;
}

.sidebar iframe {
padding-left: 2rem;
}

.sidebar p {
  font-size: 0.8em;
  padding-left: 2rem;
}



  /*====================11. ART=====================================*/

/*
  .gallery
  {
    display: inline-block;
    text-align: center;
  }

  .gallery img
  {
    width: 25%;
    height: 300px;
    object-fit: cover;
    padding: 1em;
  }

  .gallery img:hover
  {
    opacity: 0.5;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
  }
  */


  .artrow:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Create four equal columns that floats next to eachother */
  .artcolumn {
    float: left;
    width: 33.33%;
    margin-bottom: 3.5%;
  }

  .artcolumn img{
    width: 90%;
    height: 300px;
    object-fit: cover;
  }

  /* The Modal (background) */
  .artmodal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #B5DFD4 ;
  }

  /* Modal Content */
  .artmodal-content {
    position: relative;
    background-color: #44495D;
    margin: auto;
    padding: 0;
    width: 90%;

  }

  /* The Close Button */
  .artclose {
    color: #44495D;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }

  .artclose:hover,
  .artclose:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

  /* Hide the slides by default */
  .artmySlides {
    display: none;
    text-align: center;
    background-color:#B5DFD4 ;

  }

  .artmySlides img{
    max-width: 100%;
    max-height: 60vh;
  }

  /* Next & previous buttons */
  .artprev,
  .artnext {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #44495D;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  /* Position the "next button" to the right */
  .artnext {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .artprev:hover,
  .artnext:hover {
    background-color: #44495D;
    color: #FEFDCE;
    text-decoration: none;

  }

  /* Number text (1/3 etc) */
  .artnumbertext {
    color: #44495D;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
  }

  /* Caption text */
  .artcaption-container {
    text-align: center;
    background-color: #B5DFD4 ;
    padding-left:16px;
    padding-right: 16px;
    padding-top: 2px;
    padding-bottom: 1em;
    color:#44495D;
  }

/*
  img.artdemo {
    opacity: 0.6;
    max-width: 100%;
    height: 15vh;
  }
  */

/*
  .artactive,
  .artdemo:hover {
    opacity: 1;
  }
  */


  .artactive,
  .artalt:hover{
    opacity: 1;
  } /*artalt allows caption to show through js*/

  img.arthover-shadow {
    transition: 0.3s;
  }

  .arthover-shadow:hover {
    opacity: 0.5;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
  }

  /*====================== CONTACT ==================================*/

  .triangle-isosceles-left
  {
    width: 50%;
    position:relative;
    padding:15px;
    margin:1em 0 3em;
    color:#44495D;
    background:#B5DFD4; /* default background for browsers without gradient support */
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    text-align: center;
    float: left;
    overflow-wrap: break-word;

  }

  .triangle-isosceles-left:after
  {
    content:"";
    position:absolute;
    bottom:-15px; /* value = - border-top-width - border-bottom-width */
    left:15%; /* controls horizontal position */
    border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
    border-style:solid;
    border-color:#B5DFD4 transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
  }


  .triangle-isosceles-right
  {
    width: 50%;
    position:relative;
    padding:15px;
    margin:1em 0 3em;
    color:#44495D;
    background:#B5DFD4; /* default background for browsers without gradient support */
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    text-align: center;
    float: right;
    overflow-wrap: break-word;
  }

  .triangle-isosceles-right:after
  {
    content:"";
    position:absolute;
    bottom:-15px; /* value = - border-top-width - border-bottom-width */
    left:75%; /* controls horizontal position */
    border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
    border-style:solid;
    border-color:#B5DFD4 transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
  }

  .contact-left h2
  {
    font-family: Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 0.5;
    color: #44495D;
    margin: 0;
    text-align: left;
  }


  .contact-right h2
  {
    font-family: Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 0.5;
    color: #44495D;
    margin: 0;
    text-align: right;
  }



  /*===================== 7. MEDIA QUERIES DESKTOP======================== */

@media (min-width: 500px)
{
  .indexmobile
  {
    display: none;
  }
}

  @media (max-width: 720px)
  {

 /*When screen gets too thin, multiple columns get consolidated
 into one column*/
    .mobilecolumn{
      width: 100%;
      border-style: none;
    }

    /*When screen gets too thin, multiple columns get consolidated
    into one column*/
    .mobilecolumn p, .mobilecolumn h2{
      padding-left:0;
    }

    /*When screen gets too thin, images get deleted to allow max text*/
    .twentyfivecolumn img{
     display: none;
    }

    .topnav a
    {
      font-size: 0.9em;
      padding: 1.5em;
    }

    .topnav
    {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    .logo img
    {
      width: 40%;
    }

    .index h1
    {
    font-size: 1rem;
    }

    .gallery img
    {
      padding: 0.5em;
      height: 150px;
    }

    .contact-left h2
    {
      font-family: Verdana, sans-serif;
      font-size: 15px;
      font-weight: bold;
      line-height: 0.5;
      color: #44495D;
      margin: 0;
      text-align: left;
    }

    .contact-right h2
    {
      font-family: Verdana, sans-serif;
      font-size: 15px;
      font-weight: bold;
      line-height: 0.5;
      color: #44495D;
      margin: 0;
      text-align: right;
    }

    .accordion {
      padding: 1em 2em;
    }

    button {
      padding: 1em 2em;
    }

  }

  @media (min-width: 1024px)
  {

  }
