

/*=========================== GENERAL ============================*/


body{
  font-family: Verdana, sans-serif;
  font-weight: normal;
  line-height: 1.6;
  color: #333;
  max-width: 2000px;
  margin-left:auto; /*to center the content after width=2000px*/
  margin-right: auto;
  margin-top:0;
  margin-bottom:0;
}


a{
  font-size: 1em;
  color: #333;
  text-decoration: none;
}


a:hover{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  transition: all .4s ease;
  -webkit-transition: all .4s ease; /*safari and chrome*/
}

p{
  /*letter-spacing: 0.05em;*/
  font-size: 1em;
  font-weight: normal;
  overflow-wrap: break-word;
}

h1{
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  overflow-wrap: break-word;
}

h2{
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

h3{
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: left;
}

button {
  display: inline-block;
  background-color: #F0ECE2;
  cursor: pointer;
  padding: 1.5em 2em;
  text-align: center;
  border: none;
  border-radius: 2em;
  outline: none;
  transition: 0.4s;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

button:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  transition: all .4s ease;
}

/*For button in resume, projects, things that don't need extra space above*/
/*Links that look like buttons, distinguished from button for accessibility*/
.linkbutton {
  display: block;
  background-color: #F0ECE2;
  padding: 1.5em 2em;
  text-align: center;
  border: none;
  border-radius: 3em;
  outline: none;
  transition: 0.4s;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 1em;
  word-break: break-all;
  width: fit-content;
}

.linkbutton:hover, .linkbutton:hover i {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  transition: all .4s ease;
  cursor: pointer;
}


hr {
  height: 1px;
  background-color: #F0ECE2;
  filter: brightness(0.9);
  border: none;
}


.maintext{
  background-color: #fff;
  padding: 3% 10%;
  margin:0 auto; /*centers content after 1000px*/
  max-width: 1000px; /*To prevent content from getting too wide to read*/
}


/*============================= LAYOUT =============================*/

/*
.row:after{
    content: "";
    display: table;
    clear: both;
}
*/


/*Used for resume icon images*/
.fifteencolumn{
  float: left;
  width: 15%;
  overflow-wrap: break-word;
}

.fifteencolumn img{
  width: 70%;
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Used for about me*/
.fiftycolumn{
  float: left;
  width: 50%;
  overflow-wrap: break-word;
}

.fiftycolumn img{
  max-width: 100%;
}

/*Used for resume text*/
.eightyfivecolumn{
  float: left;
  width: 85%;
  overflow-wrap: break-word;
}

.eightyfivecolumn p {
  /*float: left;*/
  padding-left: 2em;
  padding-right: 1em;
}


/*========================= HEADER =============================*/

header{
  background: #891240;
  margin: 0;
  padding: 0.5em;
}


.logo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:0;
  width: 30%;
}


/*===================== FOOTER =============================*/

footer{
  margin: 0;
  padding: 1em;
  text-align: center;
}


.credits p{
  font-size: 0.7em;
}


/*===================== NAVIGATION ======================== */


nav{
  display: block;
}

.icon{
  display: none;
}

.closebtn{
  display: none;
}


.topnav{
  list-style-type: none;
  background-color: #F0ECE2;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  overflow: hidden;
  width: 100%;
}

.topnav a{
  font-size: 1em;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 2em;
}

.topnav a.active{
  font-weight: bold;
}


/* Hide the small screen hamburger icon*/
.topnav .icon, .topnav img{
  display: none;
}



/*======================= SCROLL TO TOP ==========================*/

#scrollButton {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 0; /* Place the button at the bottom of the page */
  right: 1em;
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #891240; /* Set a background color */
  color: #F0ECE2;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 1em; /* Some padding */
  border-radius: 2em; /* Rounded corners */
  font-size: 1em; /* Increase font size */
  width: 3em;
  height: 3em;
  /*text-align: center;*/
}

#scrollButton i{
display: flex;
   height: 100%;
   justify-content: center;
   align-items: center;
 }

 #scrollButton:hover{
   text-decoration: none;
 }

  /*========================= INDEX ===========================*/

  .index{
    width: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
  }

.index h1{
  font-size: 2em;
  text-transform: none;
  margin-top: 2em;
}

.index h2{
  text-transform: none;
  font-weight: normal;
}

  .index p{
    text-align: center;
  }



  .explorePortfolio button:hover{
    text-decoration: none;
    filter: brightness(0.9);
    cursor: default;
  }

#drawArrowLeft {
  display: none;
  position: absolute;
  left: 1em;
}

#drawArrowRight {
 display: none;
 position: absolute;
 right: 1em;
}


#drawArrowLine{
  stroke-dasharray: 78; /*Length? Of svg? Calculated using js and console log*/
  stroke-dashoffset: 78;
  animation: drawArrowLine 0.7s linear;
  animation-fill-mode: forwards; /* Stay on the last frame*/
  /*animation-iteration-count: 1;*/
}

  @keyframes drawArrowLine{
    0% {
      stroke-dashoffset: 78; /*Starting point*/
    }
    33% {
      stroke-dashoffset: 0; /*Ending point*/
    }
    100%{
      stroke-dashoffset: 0;
    }
  }

  #drawArrowHead{
    stroke-dasharray: 35.3; /*Length? Of svg? Calculated using js and console log*/
    stroke-dashoffset: 35.3;
    animation: drawArrowHead 0.7s linear;
    animation-fill-mode: forwards; /* Stay on the last frame*/
  }

  @keyframes drawArrowHead{
    0% {
      stroke-dashoffset: 35.3; /*Starting point*/
    }
    33%{
      stroke-dashoffset: 35.3;
    }
    50%{
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: 0; /*Ending point*/
    }}



  .explorePortfolioMobile button:hover, .explorePortfolioHighlight button:hover{
    text-decoration: none;
    filter: brightness(0.9);
    cursor: default;
  }



/*In progress*/

  #drawArrowHorizontal {
    display: none;
    position: absolute;
    font-size: 0; /*removes extra space for tail in y, g, etc*/
  }

  #drawArrowHeadHorizontal{
    animation: arrowBounce 1s infinite;

  }

  #drawArrowLineHorizontal{
    animation: arrowBounce 1s infinite;
  }


  @keyframes arrowBounce{
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
      }
      40% {
        transform: translateX(-15px);
      }
      80% {
        transform: translateX(-5px);
      }
  }


/*========================= ABOUT ME ============================*/

.aboutme h2{
  margin: 0;
  text-transform: none;
}

.aboutme img{
  float:right;
}

  /*========================= RESUME ================================*/


  /* Style the buttons that are used to open and close the accordion panel */
  .accordion {
    background-color: #F0ECE2;
    cursor: pointer;
    padding: 1.5em 2em;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 0;
    outline: none;
    transition: 0.4s;
    font-size: 1em;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 0;
  }


  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .accordionactive, .accordion:hover {
    filter: brightness(0.9);
    text-decoration: none;
  }

  /* Style the accordion panel. Note: hidden by default */
  .accordionpanel {
  padding: 0.5em 2em;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  }

  .accordionpanel iframe{
    padding: 0.5em 0;
    width: 100%;
    height: 80vh;
    max-height:1000px;
    border-style: hidden;
  }

  .accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 1em;
  float: right;
  margin-left: 0.4em;
  overflow: visible;
}

.accordionactive:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.skillstablecontainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1em;
  width: 100%;
}


/*========================== PROJECTS ===================================*/


/* Create four equal columns that floats next to eachother */
.projectsrow{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:2em;
}

  .projectscolumn {
    width: 300px;/*33.33%*/
    height: 300px;
    background-color: #F0ECE2;
    box-sizing: border-box;
    padding: 1em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-align: center;
  }

  .projectscolumn img, .projectscolumn iframe{
    width: 100%;
    height: calc(200px - 1em);
    object-fit: scale-down;
    background-color: #FFF;
    box-sizing: border-box;
    padding: 1em;
    margin-bottom: 1em;
  }


.projectscolumn:hover{
  filter: brightness(0.9);
  transition: 0.4s;
  text-decoration: none;
}


/*========== PROJECTS - INDIVIDUAL PROJECT PAGES======================*/

.projectsindividual {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*
.projectsindividual h2{
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  overflow-wrap: break-word;
  text-align: left;
}
*/

.projectsindividual p{
  text-align: left;
}

.projectsindividual img{
  max-height: 300px;
  max-width: 100%;
}

 .projectsindividual iframe{
   max-width: 100%;
 }

.aboutproject {
  background-color: #F0ECE2;
  padding:2em;
  margin-bottom: 2em;
  border-radius: 2em;
}

  /*============================= ART ===========================*/

.artrow{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:2em;
}

/*Removes slight gap on bottom of 300 x 300 image*/
.artcolumn{
  font-size: 0;
}

  .artcolumn img{
    width: 300px;/*33.33%*/
    height: 300px;
    object-fit: cover;
  }

  /* The Modal (background) */
  .artmodal {
    display: none;
    position: fixed;
    z-index: 999;
    /*padding-top: 3em;
    padding-bottom: 3em;*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /*background-color: #F0ECE2 ;*/
    background: rgba(255, 255, 255, 0.97);
  }


  /* REMOVED - Modal Content */
  /*
  .artmodal-content {
    position: relative;
    background-color: #F0ECE2;
    margin: 4em;
    padding: 0;
    height: auto;
  }
  */

  /* The Close Button */
  .artclose {
    color: #333;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5em;
    margin: 0.5em;
    font-weight: bold;
    z-index: 99;
    height:1.5em;
    width: 1.5em;
    text-align: center;
  }

  .artclose:hover,
  .artclose:focus {
    filter: brightness(1.9);
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s;
  }

  /* Hide the slides by default */
  .artmySlides {
    display: none;
    text-align: center;
    background-color:transparent;
    margin-left: 4em;
    margin-right: 4em;
    height: 100%;
    justify-content: center;
    align-items: center;
    /*padding: 3em;*/
  }

  .artmySlides img{
    max-width: 100%;
    /*Max height is vh minus the padding*/
    max-height: calc(100vh - 8em);
  }

  /* Next & previous buttons */
  .artprev,
  .artnext {
    cursor: pointer;
    position: absolute;
    top: calc((100vh - 4em) / 2); /* height is half of the image + top margin*/
    background-color: transparent;
    color:#333;
    font-weight: bold;
    margin:0.5em;
    font-size: 1.5em;
    transition: 0.4s;
    user-select: none;
    text-align: center;
    z-index: 99;
    height: 1.5em;
    width: 1.5em;
  }

  /* Position the "next button" to the right */
  .artnext {
    right: 0;
  }

  .artprev {
    left: 0;
  }

  .artprev:hover,
  .artnext:hover {
    text-decoration: none;
    filter: brightness(1.9);
  }


  /* REMOVED - Caption text */
  /*
  .artcaption-container {
    text-align: center;
    background-color: #F0ECE2 ;
    padding: 0 3em;
    color:#333;
  }*/

  .artactive,
  .artalt:hover{
    opacity: 1;
  } /*artalt allows caption to show through js*/


  .arthover-shadow:hover {
    filter: brightness(0.5);
    transition: 0.4s;
    cursor: pointer;
  }


  /*====================== CONTACT ==================================*/

  .triangle-isosceles-left{
    width: 50%;
    position:relative;
    padding:1em;
    margin:1em 0 2em;
    background:#F0ECE2;
    border-radius:1.5em;
    text-align: center;
    float: left;
    overflow-wrap: break-word;

  }

  .triangle-isosceles-left:after{
    content:"";
    position:absolute;
    bottom:-13px; /* value = - border-top-width - border-bottom-width */
    left:15%; /* controls horizontal position */
    border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
    border-style:solid;
    border-color:#F0ECE2 transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
  }


  .triangle-isosceles-right{
    width: 50%;
    position:relative;
    padding:1em;
    margin:1em 0 2em;
    background:#F0ECE2;
    border-radius:1.5em;
    text-align: center;
    float: right;
    overflow-wrap: break-word;
  }

  .triangle-isosceles-right:after{
    content:"";
    position:absolute;
    bottom:-13px; /* value = - border-top-width - border-bottom-width */
    left:75%; /* controls horizontal position */
    border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
    border-style:solid;
    border-color:#F0ECE2 transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
  }

  .contact-left h3{
    line-height: 0.5;
    margin: 0;
    text-align: left;
  }


  .contact-right h3{
    line-height: 0.5;
    margin: 0;
    text-align: right;
  }

.typewriter p{
  text-align: center;
}
